{% extends "base.html" %}

{% block content %}
<h1>Add Book Product</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}
        {{ form.title(size=64) }}<br>
        {% for error in form.title.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.bookTypes.label }}
        {% for field in form.bookTypes %}
        {{ field }}{{ field.label }}
        {% endfor %}<br>
        {% for error in form.bookTypes.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.image.label }}
        {{ form.image() }}<br>
        {% for error in form.image.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.genres.label }}
        {% for field in form.genres %}
        {{ field }} {{ field.label }}
        {% endfor %}<br>
        {% for error in form.genres.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.synopsis.label }}<br>
        {{ form.synopsis(rows=5,cols=50) }}<br>
        {% for error in form.synopsis.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.author.label }}
        {{ form.author(size=64) }}<br>
        {% for error in form.author.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.submit() }}
        <a href="{{ url_for('index') }}">Back</a>
    </p>
</form>
{% endblock %}
