<html>
    <head>
        {% if title %}
        <title>{{ title }} - Bookstore</title>
        {% else %}
        <title>Bookstore</title>
        {% endif %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static',filename='/materialize/css/materialize.min.css') }}">
        <script src="{{ url_for('static',filename='/materialize/js/materialize.min.js') }}"></script>
    </head>
    <body class="orange lighten-1">
        <nav class="nav-extended">
          <div class="nav-wrapper">
              <a class="brand-logo" href="{{ url_for('index') }}">HOBIKU</a>
            <ul class="right hide-on-med-and-down">
              <li>
                {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Login</a>
                {% else %}
                <a href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
              </li>
              <li>
                  {% if current_user.is_anonymous %}
                  <a href="{{ url_for('register') }}">Register</a>
                  {% else %}
                  {% if current_user.usertype == 'Customer' %}
                  <a href="{{ url_for('my_wishlist') }}">Wishlist</a>
                  {% elif current_user.usertype == 'Admin' or current_user.usertype == 'Staff' %}
                  <a href="{{ url_for('my_profile') }}">My Profile</a>
                  {% endif %}
                  {% endif %}
              </li>
                {% if current_user.usertype == 'Admin' or current_user.usertype == 'Staff' %}
                <li>
                  <a href="{{ url_for('manage_payment') }}">Manage Payments</a>
                </li>
                <li>
                  <a href="{{ url_for('manage_orders') }}">Manage Orders</a>
                </li>
                <li>
                  <a href="{{ url_for('manage_transactions') }}">Manage Transactions</a>
                </li>
                 {% endif %}
            </ul>
          </div>
            {% if current_user.usertype == 'Customer' %}
            <div class="nav-wrapper">
                 <ul class="left hide-on-med-and-down">
                    <li><a href="{{ url_for('my_profile') }}">My Profile</a></li>
                    <li><a href="{{ url_for('my_library') }}">My Library</a></li>
                    <li><a href="{{ url_for('my_transaction') }}">My Transactions</a></li>
                    <li><a href="{{ url_for('my_cart') }}">My Carts</a></li>
                    <li><a href="{{ url_for('my_order') }}">My Orders</a></li>
                </ul>
            </div>
            {% endif %}
        </nav>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div>
            {% for message in messages %}
            <span>{{ message }}</span>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
