{% extends "base.html" %}
{% block content %}
<div>
    <h1>Manage Payments</h1>
</div>
<table class="table-bordered table-dark">
    <thead>
        <tr>
            <th>Bank Account Owner</th>
            <th>Bank Name</th>
            <th>Exact Amount of Money</th>
            <th>ID</th>
            <th>Order ID</th>
            <th>Transfer Date</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for payment in payments %}
        <tr>
            {% for key,value in payment.items() %}
            <td>{{ value }}</td>
            {% endfor %}
            <td><a href="{{ url_for('accept_payment',id=payment['order_id']) }}">Accept</a></td>
            <td><a href="{{ url_for('reject_payment',id=payment['order_id']) }}">Reject</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="row">
    <div class="col-lg-4"><a href="{{ url_for('index') }}" class="btn btn-primary" role="button">Back</a></div>
</div>
{% endblock %}
